.page.tasks-page {
    align-items: center;
    .head-row {
        align-self: stretch;
    }
    .tasks-content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        &.pane{
            width: 95%;
        }

        &.list {
            width: 70%;
        }
    }
}