.page.tasks-page {
    align-items: center;
    .head-row {
        align-self: stretch;
    }
    .tasks-content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        &.pane{
            .panes-container {
                width: 100%;
                flex: 1;
                display: flex;
                flex-direction: row;
                align-items: stretch;
                justify-content: space-between;
                padding: 50px 0;
                .priority-pane-container {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .pane {
                        width: 100%;
                        flex: 1;
                        margin-top: 10px;
                        align-items: center;
                        display: flex;
                        overflow-y: auto;
                        overflow-x: hidden;
                        padding: 0 15px;
                        flex-direction: column;
                        min-width: 350px;
                        max-width: 450px;
                    }
                }
            }
        }

        &.list {
            width: 70%;
        }
    }
}